<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - FHL Project</title>
</head>
<body>
    <div>
        <a class="navbar-brand" asp-controller="Movies" asp-action="Index">Movie App</a>
    </div>
</body>
</html>
